.footer {
  height: 93px;
  background-color: #F4F4F4;
  margin-top: auto;
}

@media (max-width: 992px) {
  .footer {
    height: 110px;
  }
  .footer,
  .footer__logo {
    padding: 5px;
  }
  .footer span {
    font-size: 12px;
  }
}