@charset "UTF-8";
body{
    font-family: "Montserrat", sans-serif;
    background-color: #F2F2F2;
    color: #171717;
}
a {
    text-decoration: none;
}
div.txt-btn {
    background-color: #E77E22;
    text-align: center;
}
div.txt-btn a {
    color: white;
}
@media ( min-width: 320px ) {
    body {
        font-size: 16px;
        text-align:center;
    }
    div.wrap {
        padding: 5px;
    }
    div.logo {
        margin-bottom: 10px;
    }
    div.logo img {
        max-width: 150px;
    }
    div.txt-item-1 {
        margin-bottom: 10px;
    }
    div.txt-btn {
        padding: 10px;
        width: 200px;
        margin: 0 auto 30px;
    }
}
@media ( min-width: 768px ) {
    html{
        display: table;
        height: 100%;
        width: 100%;
    }
    body {
        display: table-cell;
        vertical-align: middle;
        margin: 2em auto;
    }
    div.wrap {
        display: table;
        width: 700px;
        margin: 0 auto 50px;
    }
    div.txt {
        display: table-cell;
        vertical-align: middle;
        width:50%;
        text-align: center;
        #padding-left: 30px;
    }
    div.txt-item-1 {
        font-size: 17px;
    }
    div.txt-btn {
        margin: 0 auto 20px;
        font-size: 12px;
        width: 150px;
    }
}
@media ( min-width: 992px ) {
    div.wrap {
        width: 900px;
    }
    div.logo {
        margin-bottom: 20px;
    }
    div.logo img {
        max-width: 200px;
    }
    div.txt-item-1 {
        font-size: 22px;
    }
}