$MainFont: 'Montserrat', sans-serif;
$TextColor: #333;
$ActiveTextColor: #B6B6B6;
$InvertTextColor: #fff;
$ThemeColor: #fff;
$AccentTextColor: #0071BC;
$AccentColor: #0071BC;
$ArticleBody: #F7F7F7;
$SearchLineColor: #eee;